* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1rem;
}
.nav {
    height: 100px;
    display: flex;
    align-items: center;
}

.logo {
    margin-left: 30px;
}


.hero-image {
    background-image: url(/images/hero-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
}
.hero-text {
    text-align: center;
    padding: 40px;
    font-size: 2rem;
    
}
.hero-text h1 {
    text-transform: uppercase;
}
.hero-text p {
    padding-top: 20px;
    font-size: 1.2rem;
    line-height: 2rem;
    color: hsl(0, 36%, 70%);
}
.hero-text span {
    color: hsl(0, 36%, 70%);
    font-weight: 300;
}
.combo-box {
    margin: 0;
    padding: 20px 0px;

}
.combo-box input {
    margin: 50px 0px;
    padding: 20px;
    height: 20px;
    vertical-align: top;
    width: 90%;
    border-radius: 30px;
    outline: none;
    border: 1px solid hsla(0, 18%, 71%, 0.276);
}
.combo-box .btn {
    width: 70px;
    height: 42px;
    margin-left: -40px;
    display: inline-block;
    cursor: pointer;
    background: linear-gradient(hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    border-radius: 50px;
    box-shadow: 0px 5px 25px rgba(29, 29, 29, 0.214);
    text-align: center;
    margin-top: 50px;
}
.combo-box .btn img {
    margin-top: 10px;
}

/* Mobile Design */

/* @media (max-width: 767px) {
    .hero-text {
        font-size: 1rem;
    }
    .combox-box input {
        width: 90%;
        margin-top: 50px;
    }
    .combox-box .btn {
        right: 20px;
        position: absolute;
        margin-top: 50px;
    }
} */
@media (min-width: 768px) {
    .nav {
        width: 60%;
        background-color: black;
    }
    .logo {
        margin-left: 80px;
    }
    .hero-section {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
        background-image: url(/images/bg-pattern-desktop.svg);
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }
    .hero-text {
        align-items: center;
        text-align: left;
        width: 100%;
    }
    .hero-image {
        background-image: url(/images/hero-desktop.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 50%;
        height: 100vh;
    }
    
}